* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#landing-jumbo {
  height: 75vh;
  display: flex;
  align-items: center;
  background-color: #6DCCDE;
  color: #fff;
}

h1, h2 {
	font-family: 'Zilla Slab', serif;
}

#profile-picture {
	background-image: url(../images/me.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
}

.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#html {
	background-image: url(../images/html.png);
}

#css {
	background-image: url(../images/css.png);
}

#js {
	background-image: url(../images/js.png);
}

#gitlab {
	background-image: url(../images/gitlab.png);
}

#google {
	background-image: url(../images/google.jpg)
}

#work-button {
	margin: 20px;
}

body {
	background-color: #eee;
}

#main-section {
	background-color: #fff;
	padding: 70px 50px;
	border-radius: 30px;
}

footer {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	margin-top: 20px;
}